h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'texgyreadventorregular', sans-serif;
}

h1, h2 {
	padding-bottom: 15px;
}

body {
	background-color: #ddd;
	font-family: 'cardoregular', serif;
	color: #000;
}

a {
	color: #3EDD67;
}

a:hover {
	color: #3E6136;
	text-decoration: none;
}

label {
	font-family: 'texgyreadventorregular';
	color: #777;
}

.form-actions{
	padding-top: 15px;
}

.btn {
	font-family: 'texgyreadventorbold';
}

.navbar.navbar-inverse {
	background-color: #3EDD67;
	border-radius: 0;
	box-shadow: 0 1px 3px #aaa;
	border: none;
	font-family: 'texgyreadventorregular';
	color: #fff;
}

.navbar-inverse .navbar-brand {
	font-family: 'texgyreadventorbold';
	color: #3E6136;
}

.navbar-inverse .navbar-nav li a {
	color: #3E6136;
}

.navbar-inverse .navbar-nav li a:hover {
	color: #fff;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.pagination {
  font-family: 'texgyreadventorregular', serif;
}