/* Repeating elements */

$white: #fff;
$ltgrey: #eee;
$dkgrey: #666;
$primary: #962d2d;
$secondary: #4b7f35;
$tertiary: #cbd600;
$error: #ff3333;
$headline: 'texgyreadventorregular', sans-serif;
$headline-bold: 'texgyreadventorbold', sans-serif;
$text: 'cardoregular', serif;




h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: $headline;
	color: $primary;
}

h1, h2 {
	padding-bottom: 15px;

}

body {
	background-color: $primary;
	font-family: $text;
	color: $dkgrey;
	padding-top: 75px;
}

hr {
	border: 1px solid $primary;
}

.clear {
	clear: both;
}

.well, .well-md, .well-lg {
	background-color: $white;
	border-color: $white;
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	color: $primary;
}

a:hover {
	color: $secondary;
	text-decoration: none;
}

label {
	font-family: $headline;
	color: $dkgrey;
	font-weight: 100;
}

.form-actions{
	padding-top: 15px;
}

.btn {
	font-family: $headline;
	padding-bottom: 10px;
	margin-bottom: 25px;
	border: none;
}

.btn:hover {
	background-color: $tertiary;
}

.btn-primary {
	background-color: $secondary;
}

.alert-info {
border-radius: 0px;
border: none;
background-color: $white;
color: $primary;
}

.btn-danger {
	background-color: $primary;
}

.navbar.navbar-inverse {
	background-color: $tertiary;
	border-radius: 0;
	border: none;
	font-family: $headline;
	color: $white;
}

.navbar-inverse .navbar-brand {
	font-family: $headline-bold;
	color: $primary;
}

.navbar-inverse .navbar-nav li a {
	color: $secondary;
}

.navbar-inverse .navbar-nav li a:hover {
	color: $white;
}

.pagination {
  font-family: $headline;
}

.has-error {
  color: $error;
  background-color: $ltgrey;
  border-radius: 3px;
  padding:8px;
}

#map { 
  height: 300px;
  width: 100%;
}

blockquote {
  background: $tertiary;
  border-left: 10px solid $primary;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	height: 550px;
	width: 100%;
}

.carousel-caption {
	font-family: $headline;
	font-size: 60px;
	font-weight: 100;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	position: absolute;
	left: 0;
}
